section {
    background: green;
}
#uniqueSection {
    padding: 30px;
    background: violet;
}

section {
    background: pink;
    position: relative;
}

p {
    width: 60%;
}
.one {
    width: 30%;
    background: red;
    float: left;
}

.two {
    clear: left;
    background: blue;
    top: 0;
    width: 80%;
    margin: 0 auto;
}

.three {
    clear: left;
    background: yellow;
}

.three span {
    color: green;
}

.three span.rouge{
    color: red;
}

.three span.bleu{
    color: blue;
}